.main{
    background-image: url(/assets/img/covidBg1.jpg);
    min-height: 867px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .covidDiv {            
            float: right;
            font-size: 106px !important;
            margin-top: 107px;
            color: #524b4b;
        }
        .card{
            margin-top: 10px;
            background: #fff;
            width: 57%;
            float: right;
            height: 280px;
            h1,label{
                color: rgb(10, 10, 10);
            }
            
            .loginButton{
                width: 50%;
                background-color: #0894ef;
                border-radius: 10px;
                border-color: #0894ef;
                color: white;
            }
            .inputForm{
                border: none;
                border-radius: 0px;
                border-bottom: 1px solid #CCCCCC;
                padding-bottom: 20px;
            }
            .btn:disabled{
                cursor: not-allowed;
                opacity: .65;
                box-shadow: none;
            }
        }
    }
}
