.tileDiv{
    border: 1px solid rgb(62, 91, 219);
    padding: 10px;
}
.topRowContent {
    margin: 0 14px 0 0px !important;
}
.setBackground {
    border-radius: 10px;
    border: 1px solid rgb(62, 91, 219);
    margin: 0 0px 60px 60px !important;
    color: rgb(62, 91, 219);
    box-shadow: 2px 2px;
    text-align: center;
}
.dispFLex {
    flex: 1 0 15.666667%;
    height: 200px;
}
.setwhiteFont {
    font-size: 26px;
    font: normal normal bold 26px/24px Open Sans;
}
.tileDetail{
    color: black !important;
}
.flagDiv{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 100px;
}