<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CovidApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="dashboard">Dashboard</a>
        <a class="nav-item nav-link" routerLink="country">Country</a>
    </div>
    </div>
  </nav> -->
<!-- Dashboard -->
<div class="main">
    <div class="container">   
        <div class="row mt-5">
            <div class="col-md-2">
                <h1 class="pull-right" style="float: right;">Total</h1>
            </div>
            <div class="col-md-10">
                <hr>
            </div>
        </div>    
        <div class="row">
            <div class="row topRowContent d-flex w-100 ">
                <div class="dispFLex setBackground my-1 mx-1">
                    <div class="p-4">
                        <div class="row w-100 ">
                            <h5 class="font-14" title="">Total Cases</h5>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="setFont setwhiteFont">{{totalCase | number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dispFLex setBackground my-1 mx-1">
                    <div class="p-4">
                        <div class="row w-100 ">
                            <h5 class="font-14" title="">Total Deaths</h5>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="setFont setwhiteFont">{{totalDeaths | number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dispFLex setBackground my-1 mx-1">
                    <div class="p-4">
                        <div class="row w-100 ">
                            <h5 class="font-14" title="">Total Recovered</h5>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="setFont setwhiteFont">{{totalRecovered | number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2">
                <h1 class="pull-right" style="float: right;">Today</h1>
            </div>
            <div class="col-md-10">
                <hr>
            </div>
        </div>  
        <div class="row">
            <div class="row topRowContent d-flex w-100 ">
                <div class="dispFLex setBackground my-1 mx-1">
                    <div class="p-4">
                        <div class="row w-100 ">
                            <h5 class="font-14" title="">Cases</h5>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="setFont setwhiteFont">{{todayCase | number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dispFLex setBackground my-1 mx-1">
                    <div class="p-4">
                        <div class="row w-100 ">
                            <h5 class="font-14" title="">Deaths</h5>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="setFont setwhiteFont">{{todayDeaths | number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dispFLex setBackground my-1 mx-1">
                    <div class="p-4">
                        <div class="row w-100 ">
                            <h5 class="font-14" title="">Recovered</h5>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="setFont setwhiteFont">{{todayRecovered | number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
